body {
    background-color: white;
    font-family: Arial, sans-serif;
    color: black;
  }
  
  .menu {
    background-color: red;
    padding: 10px;
    text-align: center;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
  }
  
  .page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .post-container {
    border: 2px solid lightred;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .btn{
    background-color: rgb(255, 94, 94);
    color: white;
    width: 100px;
    margin-left: 10px;
}

.btn:hover{
    background-color: rgb(255, 0, 0);
    color: white;
}
  
input{
    border-radius: 20px;
}